.wishlist_product_img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}
.Single_wishlist {
  position: relative;
}
.delete_wishList {
  position: absolute !important;
  top: 0px !important;
  right: -10px !important;
  background-color: red !important;
  width: 20px !important;
  font-size: 12px !important;
  height: 20px !important;
}
.delete_wishList:hover {
  cursor: pointer !important;
}
