.Latest_images img {
  height: 400px !important;
  width: 90%;
  margin: auto;
  object-fit: cover;
}
.Latest_images {
  height: 100%;
  margin: auto;
}
.Latest_images::-webkit-scrollbar {
  display: none;
}
.product_container {
  width: 320px;
  margin-bottom: 50px;
  margin-top: 20px;
}
