.SingleProduct_pageLayout {
  display: grid;
  grid-template-columns: 0.3fr 1.5fr 1fr;
  grid-gap: 2rem;
  padding: 2rem;
}
.SingleProduct_images img {
  height: 130px;
  width: 100%;
  object-fit: contain;
}
.SingleProduct_images {
  height: 650px !important;
  overflow-y: scroll !important;
}
.SingleProduct_images::-webkit-scrollbar {
  display: none;
}
.SingleProduct_image {
  width: 100%;
  height: 700px;
  object-fit: contain;
}
.SingleProduct_color {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.SingleProduct_size p:hover {
  cursor: pointer;
  background-color: #dadadb;
}
.SingleProduct_Quantity p:hover {
  cursor: pointer;
}
.SingleProduct_Youmaylike img {
  height: 300px;
  width: 100%;
  object-fit: contain;
}
.LoadingPage {
  height: 600px;
  position: relative;
  width: 100%;
}
.Loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Loader p {
  letter-spacing: 10px;
  margin-left: 40px;
}
