.review_product_img img {
  width: 50px;
}
.review {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  width: 320px;
  margin-bottom: 50px;
  margin-top: 20px;
}
.Review_person {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
