.myorder_product_img {
  height: 200px;
  width: 200px;
  object-fit: contain;
  margin-right: 20px;
}
.myorder_review {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 350px;
}
.myOrder_Footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fde046;
  padding: 1rem;
}
